<div class="joinus" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%=image_path "joinus.jpg" %>');">

  <div class="joinus-content">
    <h1>Book your Peetayer</h1>
    <h1>for only 49€!</h1>
    <p>Send us a message to book your Peetayer or have more information</p>
    <a class="typeform-share button" href="https://florine10.typeform.com/to/czuy18" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#F7C879;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:30px;line-height:75px;text-align:center;margin:0;height:75px;padding:0px 50px;border-radius:37px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Book your Peetayer</a>
    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
  </div>
</div>
