  <!-- Navbar -->
    <div class="navbar-wagon navbar-fixed-top">
      <!-- Logo -->
      <a href="index.html" class="navbar-wagon-brand">Peetaya</a>

      <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <a href="peetayers.html" class="navbar-wagon-item navbar-wagon-link">Our Peetayers</a>
        <a href="about.html" class="navbar-wagon-item navbar-wagon-link">About</a>
        <a class="typeform-share button" href="https://florine10.typeform.com/to/ZvSjBv" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#F7C879;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:18px;text-align:center;margin:0px;padding:10px 15px;border-radius:37px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Book your Peetayer </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      </div>

      <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="peetayers.html">All Peetayers</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!-- End Navbar -->
