<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="polaroid">
    <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/franco.jpg" %>');">
    </div>
    <p class="polaroid-text"><strong>Franco, 25 ans<strong></p>
    <p class="polaroid-desc">"Lillois d'origine"</p>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="polaroid">
    <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars3.githubusercontent.com/u/32438091?v=4');">
    </div>
    <p class="polaroid-text"><strong>Florine, 28 ans<strong></p>
    <p class="polaroid-desc">"Lillois d'origine"</p>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="polaroid">
    <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars1.githubusercontent.com/u/32833885?v=4');">
    </div>
    <p class="polaroid-text"><strong>Clément, 29 ans<strong></p>
    <p class="polaroid-desc">"Lillois d'origine"</p>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="polaroid">
    <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "peetayers/quentin.jpg" %>');">
    </div>
    <p class="polaroid-text"><strong>Quentin, 21 ans<strong></p>
    <p class="polaroid-desc">"Lillois d'origine"</p>
  </div>
</div>
