<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="polaroid">
    <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/users/atmosfeer');">
    </div>
    <p class="polaroid-text">Matt</p>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="polaroid">
    <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars3.githubusercontent.com/u/32438091?v=4');">
    </div>
    <p class="polaroid-text">Florine</p>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="polaroid">
    <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars1.githubusercontent.com/u/32833885?v=4');">
    </div>
    <p class="polaroid-text">Clément</p>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="polaroid">
    <div class="polaroid-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://avatars2.githubusercontent.com/u/31064510?v=4');">
    </div>
    <p class="polaroid-text">Franco</p>
  </div>
</div>
