@media screen and (min-width: 640px) {
  .footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #191919;
    min-height: 50vh;
    text-align: left;
  }
  .footer h5 {
    font-size: 14px !important;
  }
  .footer p {
    font-size: 11px !important;
    opacity: 0.85 !important;
    color: #FFF;
    letter-spacing: 0.5px;
  }

  .footer-links a {
    font-size: 11px !important;
    opacity: 0.85;
    color: #FFF;
    letter-spacing: 0.5px;
    text-decoration: none;
  }

  .footer-links a:hover {
    text-decoration: none;
    color: #f7c879;
    opacity: 0.75;
    cursor: pointer;
  }

  .partner-brand img {
    height: 30px;
  }
}

@media screen and (min-width: 640px) and (max-width: 992px) {
  .footer {
    display: flex;
    align-items: center;
    padding: 50px 50px;
    background-color: #191919;
  }
  .footer .container {
    text-align: left;
    min-height: 50vh;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #191919;
  }
  .footer .container {
    text-align: left;
    min-height: 80vh;
  }
}

.footer-title {
  color: #F6F6F6;
}

.footer-title a {
  color: #F6F6F6;
  text-decoration: none;
}

.footer-title a:hover {
  text-decoration: none;
  color: #f7c879;
  opacity: 0.85;
  cursor: pointer;
}

 .footer p {
  margin-top: 15px;
  font-size: 12px !important;
  font-weight: 200;
  opacity: 0.85 !important;
  color: #FFF;
  letter-spacing: 1.5px;
 }

  .footer-links {
    margin-bottom: 5px;
  }

  .footer-links a {
    font-size: 12px !important;
    font-weight: 250;
    letter-spacing: 1.5px;
    color: #FFF;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 0 3px;
  }

  .footer-links a:hover {
    text-decoration: none;
    color: #f7c879;
    cursor: pointer;
  }

  .partner-brand img {
    height: 50px;
  }
