.polaroid {
  background-color: #F9F9F9;
  display: flex;
  position: relative;
  width: 230px;
  height: 270px;
  overflow: hidden;
  margin: 30px auto;
  -webkit-box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 18px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0 2px 3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.22);
  text-align: center;
  transition: all 0.5s ease;
}

.polaroid:hover {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

.polaroid-img {
  width: 100%;
  height: 75%;
  padding: 10px 10px 0px 10px;
  background-size: cover !important;
  background-position: center;
  margin: 4% 4% 4%;
}

.polaroid-text {
  position: absolute;
  bottom: 20px;
  left: 6px;
  padding: 0;
  font-size: 16px;
}

.polaroid-desc {
  position: absolute;
  bottom: -2px;
  left: 6px;
  padding: 0;
  font-size: 15px;
}

.polaroid-pin {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
  width: 15%;
}

.franco {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
  transition: all 0.5s ease;
}

.franco:hover {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.polaroid-franco-pin {
  position: absolute;
  top: 7px;
  right: 27px;
  padding: 0;
  width: 15%;
  transform: rotate(-3deg)
}

.flo {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  transition: all 0.5s ease;
}

.flo:hover {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

.polaroid-flo-pin {
  position: absolute;
  top: 0px;
  left: 30px;
  padding: 0;
  width: 15%;
  transform: rotate(-79deg)
}

.clem {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  transition: all 0.5s ease;
}

.clem:hover {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.polaroid-clem-pin {
  position: absolute;
  top: 10px;
  right: 27px;
  padding: 0;
  width: 15%;
  transform: rotate(-3deg)
}

.quent {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  transition: all 0.5s ease;
}

.quent:hover {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

.polaroid-quent-pin {
  position: absolute;
  top: 5px;
  left: 23px;
  padding: 0;
  width: 15%;
  transform: rotate(-84deg)
}


