
@media screen and (max-width: 640px) {
  .contact {
    font-size: 14px !important;
  }
  .contact-1 {
    text-align: center;
  }

  .contact a {
    color: #333333;
    text-decoration: none;
  }

  .contact a:hover {
    text-decoration: none;
    color: #f7c879;
    opacity: 0.85;
    cursor: pointer;
  }

  .contact-social-link a {
    text-decoration: none;
    padding: 10px 10px;
  }

  .contact-social-link a:hover {
    text-decoration: none;
    opacity: 0.80;
    cursor: pointer;
  }

}

@media screen and (min-width: 640px) and (max-width: 992px) {
  .contact-1 {
    text-align: left;
    padding-left: 30px;
  }


  .contact a {
    color: #333333;
    text-decoration: none;
  }

  .contact a:hover {
    text-decoration: none;
    color: #f7c879;
    opacity: 0.85;
    cursor: pointer;
  }

  .contact-social-link a {
    text-decoration: none;
    padding: 10px 10px;
  }

  .contact-social-link a:hover {
    text-decoration: none;
    opacity: 0.80;
    cursor: pointer;
  }
}

@media screen and (min-width: 992px) {
  .contact-1 {
    text-align: left;
    padding-left: 50px;
  }

  .contact a {
    color: #333333;
    text-decoration: none;
  }

  .contact a:hover {
    text-decoration: none;
    color: #f7c879;
    opacity: 0.85;
    cursor: pointer;
  }

  .contact-social-link a {
    text-decoration: none;
    padding: 10px 10px;
  }

  .contact-social-link a:hover {
    text-decoration: none;
    opacity: 0.80;
    cursor: pointer;
  }
}
