.contact a {
  color: #333333;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: none;
  color: #f7c879;
  opacity: 0.85;
  cursor: pointer;
}

.contact-social-link a {
  text-decoration: none;
  padding: 10px 10px;
}

.contact-social-link a:hover {
  text-decoration: none;
  opacity: 0.80;
  cursor: pointer;
}

.fas {
  margin-right: 15px;
  color: #f7c879;
}
