.service {
  margin: 30px 30px
}

.service p {
  font-size: 13px;
}

.desc-service {
  padding: 10px 10px;
}

.desc-service-photo {
  max-width: 50px;
}


.description {
  margin: 30px 30px
}

.desc-title {
}

.desc-content {
  text-align: justify;
}
