h2 {
  margin-top: 50px !important;
  margin-bottom: 30px !important;
  }

p {
  margin-top: 1.5em;
  font-weight: 350 !important;
}

.banner {
  margin-bottom: 50px;
}

.home-desc {
  padding: 0px 15px;
  margin: 30px 15px;
}

.home-desc h4 {
  letter-spacing: 1px;
  font-weight: 350;
  line-height: 145%;
}

.home-content {
  padding: 10px 10px;
}

.home-content-photo {
  max-width: 150px;
  padding: 15px 10px;
  margin: 15px 0;
}

.peetayers-desc {
  padding: 0px 15px;
  margin: 30px 15px;
}

.peetayers-desc h4 {
  letter-spacing: 1px;
  font-weight: 350;
  line-height: 145%;
}

.peetayers-more a {
  font-size: 18px !important;
  font-weight: 350;
  color: #f7c879;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.peetayers-more a:hover {
  text-decoration: none;
  color: #f7c879;
  opacity: 0.85;
  cursor: pointer;
}

.home-service {
  padding: 10px 10px;
}

.home-service-photo {
  max-width: 70px;
  margin: 5px 0;
}

.home-peetayer-photo {
  height: 350px;
  width: 400px;
  crop: fill;
}


