h2 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  }

p {
  margin-top: 1.5em;
  font-weight: 350 !important;
}

.home-desc {
  padding: 0px 15px;
  margin: 50px 15px;
}

.home-desc h4 {
  letter-spacing: 1px;
  font-weight: 350;
  line-height: 145%;
}

.home-content {
  padding: 10px 10px;
}

.home-content-photo {
  max-width: 150px;
  padding: 15px 10px;
  margin: 15px 0;
}

.home-peetayer {
  padding: 5px 5px;
}

.home-peetayer-photo {
  max-width: 150px;
  padding: 15px 15px;
}

.home-service {
  padding: 10px 10px;
}

.home-service-photo {
  max-width: 70px;
  margin: 5px 0;
}
