.infos {
  border: 1px solid #dce0e0;
  background-color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: white;
}

.infos-title {
  color: #484848;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dce0e0;
}

.infos-content p{
  font-size: 15px;

}

.fa-check-circle {
  margin-right: 20px;
  color: #f7c879;
}

.space1 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.space2 {
  margin: 15px auto;
}

.space2 p{
  font-size: 15px;
}

.space2-title {
  margin-left: 30px;
}

.space2-photo {
  max-width: 50px;
}
