<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/barcelona');">
  <div class="banner-content">
    <h1>Don't worry. Be welcomed</h1>
    <p>Feel confident studying abroad, our locals will take care of you !</p>
  </div>
</div>
<!-- End Banner -->

<div class="container text-center">

  <!-- Description bloc -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <div class="home-desc text-center">
        <h4>Peetaya propose un accueil aux futurs étudiants envoyés à l'étranger. Nous les mettons en relation avec un de nos Peetayers qui l'accueillera dès son arrivée. Nos Peetayers sont des français résidents à l'étranger, les plus experts de leur ville. Nous rassemblons les meilleurs talents, offrant une expérience unique, une découverte rapide et un départ serein..</h4>
      </div>
    </div>
  </div>

<!-- How it works bloc -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-content">
          <%= image_tag "flaticon/search-flight.png", class: "home-content-photo" %>
          <h4>1. I SEND</h4>
          <p>A request to Peetaya to be put in contact with a Peetayer for my arrival in my future city or during my trip</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-content">
          <%= image_tag "flaticon/profil.png", class: "home-content-photo" %>
          <h4>2. I RECEIVE</h4>
          <p>One or more Peetayers profiles so that I can choose the one who suits me the most (ultra-personalized)</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-content">
          <%= image_tag "flaticon/website.png", class: "home-content-photo" %>
          <h4>3. I BOOK</h4>
          <p>My Peetayer by confirming the payment. Then I receive his personal details to contact him</p>
        </div>
      </div>
    </div>


</div>

